
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
}

body {
    background: #f39c12;
}

.heading {
    padding: 5rem 0 0 0;
}

h1 {
    margin: 0;
    text-align: center;
    color: #2c3e50;
    letter-spacing: 0.6rem;
}

p {
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: white;
}

.keys {
    margin: auto;
    height: 50vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.5rem;
}

.key_card {
    width: 7rem;
    height: 5rem;
    border: 0.2rem solid #fff;
    padding: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.4rem;
    transition: all 0.07s ease;
}

.key {
    font-size: 2rem;
    font-weight: 800;
}

.sound {
    letter-spacing: 0.2rem;
    font-weight: 500;
}

.playing {
    background: #222f3e;
    border: 0.2rem solid transparent;
    transform: translateY(0.5rem);
}